.shop-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.shop-header{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.shop-categoires{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.56rem;
}

.shop-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-title{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.shop-products{
    height: 65.75rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}