.navbar-container{
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}

.navbar-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.navbar-menu-btn{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}